.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dark-container {
  background-color: #000;
  color: #fff;
}

.title {
  font-family: "Playfair Display";
  font-size: 4rem;
  text-align: center;
  margin: 12px 0;
}

.subtitle {
  font-family: "Questrial";
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.9rem;
  font-weight: 100;
}

.coming-soon {
  font-family: "Questrial";
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 100;
  font-size: 1.2rem;
  position: relative;
  top: 200px;
}

.dark-container > .title {
  font-size: 3rem;
  font-family: "Playfair Display";
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Questrial";
}

p {
  font-size: 22px;
  max-width: 450p\;
  width: 100%;
  text-align: center;
}

li {
  font-family: "Questrial";
  font-size: 1.8rem;
  margin: 20px 0;
}

section.small {
  height: 70vh;
  padding: 30px;
}

section.small > .title {
  font-size: 3rem;
}
